@tailwind base;
@tailwind components;
@tailwind utilities;


/* You can add global styles to this file, and also import other style files */
@import './theme/default.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

// Background utilities
.bg-accent {
  background-color: $primary-color;
}

// Material drawer
mat-drawer {
  width: 250px;
  top: 0;
  bottom: 0;
}

mat-drawer-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// Inputs and selects
input,
select {
  font-size: 100%;
}
